CHAIN_NAME=soulon
CHAIN_ID=soulon-testnet-1
DENOM=usoul
MONIKER=soulon-testnet-validator-1
KEY_NAME=validator
KEYRING_BACKEND=test
HOME_DIR=.testnet
RPC_PORT=26657
P2P_PORT=26656
GRPC_PORT=9090
REST_PORT=1317
LOG_FILE=logs\testnet-node.log
ERR_LOG_FILE=logs\testnet-node.err.log
PID_FILE=logs\testnet-node.pid
